@import 'foundation/all';

.wm-select {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;

	&__label {
		@include padding('xs');
		align-items: center;
		background-color: $form-bg-color;
		border: 1px solid $form-border-color;
		cursor: pointer;
		display: flex;
		font-family: $wm-body-font-family;
		justify-content: space-between;
	}

	&__icon {
		transition: all 250ms ease;

		&--open {
			transform: rotate(180deg);
		}

		&--closed {
			transform: rotate(0deg);
		}
	}

	&__overlay {
		@include margin('none');
		@include padding('none');
		background-color: $form-bg-color;
		border: 1px solid $form-border-color;
		box-shadow: map-get($shadows, 'base');
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 99;
	}

	&__option {
		@include padding('xs');
		align-items: center;
		box-sizing: border-box;
		cursor: pointer;
		display: flex;
		justify-content: space-between;
		width: 100%;

		&:hover {
			background-color: $form-bg-color-hover;
		}

		&--selected {
			background-color: $form-bg-option-active;
			color: $form-border-color;
		}
	}
}
