@import 'foundation/all';

$widths: (
	lg: 106px,
	base: 86px,
	sm: 64px
);

$heights: (
	lg: 40px,
	base: 32px,
	sm: 28px
);

$bg-colors: (
	'primary': $wm-primary,
	'secondary': $wm-secondary,
	'danger': $wm-danger,
	'success': $wm-success,
	'white': $wm-white,
	'gray': $wm-gray-900
);

.wm-button__container {
	border: 0;
	border-radius: 5px;
	color: $wm-white;
	cursor: pointer;
	transition: 500ms;

	&:hover {
		filter: brightness(80%);
	}

	//* 버튼 사이즈별 styles
	@each $size, $value in $widths {
		&--size-#{$size} {
			font-size: if($size == 'lg', $fs-base, $fs-sm);
			height: map-get($heights, $size);
			width: $value;
		}
	}

	//* 버튼 배경 styles
	@each $color, $value in $bg-colors {
		&--bg-#{$color} {
			background-color: $value;
			border: if($color == 'white', 1px solid $wm-primary, 0);
			color: if(
				$color == 'white',
				$wm-primary,
				if($color == 'gray', $wm-gray-100, $wm-white)
			);
		}
	}
}
