@import 'foundation/all';

@each $size, $value in $spacing {
	.wm-width-#{$size} {
		width: $value;
	}

	.wm-height-#{$size} {
		height: $value;
	}
}

//* padding
$sides: left, right, top, bottom;
$directions: 'px', 'py';

@each $space, $value in $spacing {
	.wm-padding-#{$space} {
		padding: $value;

		@each $side in $sides {
			.wm-padding-#{$side}-#{$space} {
				padding-#{$side}: $value;
			}
		}
	}
}
