@import 'foundation/all';

$bg-colors: (
	primary: $wm-primary,
	secondary: $wm-secondary,
	danger: $wm-danger,
	success: $wm-success,
	default: transparent,
	greyish: $wm-gray-900,
	dark: $gray-22
);

.wm-btn {
	align-items: center;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	font-weight: 400;
	height: fit-content;
	justify-content: center;
	padding: 8px 12px;
	position: relative;
	transition: all 150ms ease-out;

	&--icon {
		display: flex;
		left: 8px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}

	&--fullSize {
		width: 100%;

		&:active {
			transform: scale(1.025) !important;
		}
	}

	&--shadow {
		box-shadow: 3px 3px 6px 0 $wm-gray-800;
	}

	&:hover {
		filter: brightness(85%);
	}

	&:active {
		transform: scale(1.1);
	}
}

//* 버튼 색상 설정
@each $color, $value in $bg-colors {
	.wm-btn--color-#{$color} {
		background-color: $value;
		border: if($color == 'default', 1px solid $wm-primary, 0);
		color: if($color == 'default', $wm-primary, if($color == 'greyish', $wm-gray-100, $wm-white));
	}
}
