@import 'foundation/all';

$sizes: (
	large: 40px,
	middle: 32px,
	small: 24px
);

.wm-input {
	align-items: center;
	background-color: $wm-white;
	border: 1px solid $wm-gray-700;
	border-radius: 3px;
	display: flex;
	transition: border 250ms ease;
	width: 100%;

	&:hover {
		border: 1px solid $wm-primary;
	}

	> input {
		border: 0;
		border-radius: 3px;
		font-size: $fs-base;
		outline: none;
		transition: all 300ms ease;
		width: 100%;
	}

	&--focus {
		border: 1px solid $wm-primary;
		box-shadow: 0 0 0 1px $wm-primary-outline;
	}

	&--error {
		animation-delay: 0.25s;
		animation-duration: 0.5s;
		animation-name: error-bounce;
		background-color: $wm-danger-bg;
		border: 1px solid $wm-danger;
		box-shadow: 0 0 0 1px $wm-danger-outline;

		> input {
			background-color: $wm-danger-bg;
		}

		&:hover {
			border: 1px solid $wm-danger;
		}
	}

	&__prefix {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-right: 5px;
	}

	&__suffix {
		align-items: center;
		display: flex;
		justify-content: center;
		margin-left: 5px;
	}
}

.wm-input__password-icon {
	align-items: center;
	display: flex;

	> svg {
		cursor: pointer;
		fill: $wm-gray-400;
		transition: all 200ms ease;

		&:hover {
			fill: $wm-primary;
		}
	}
}

@each $size, $value in $sizes {
	.wm-input--size-#{$size} {
		padding: if($size == 'large', 6.5px 12px, if($size == 'middle', 4px 11px, 0 7px));

		> input {
			height: $value;
		}
	}
}

@keyframes error-bounce {
	0% {
		transform: translateX(0);
	}

	30% {
		transform: translateX(4px);
	}

	50% {
		transform: translateX(-4px);
	}

	70% {
		transform: translateX(3px);
	}

	80% {
		transform: translateX(-3px);
	}

	90% {
		transform: translateX(2px);
	}

	95% {
		transform: translateX(-2px);
	}

	100% {
		transform: translateX(0);
	}
}
