@mixin padding($space) {
	padding: map-get($spacing, $space);
}

@mixin margin($space) {
	margin: map-get($spacing, $space);
}

@mixin mobile-s {
	@media (min-width: map-get($breakpoints, 'xs')) {
		@content;
	}
}

@mixin mobile-m {
	@media (min-width: map-get($breakpoints, 'sm')) {
		@content;
	}
}

@mixin mobile-l {
	@media (min-width: map-get($breakpoints, 'md')) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: map-get($breakpoints, 'lg')) {
		@content;
	}
}

@mixin tablet-l {
	@media (min-width: map-get($breakpoints, 'xl')) {
		@content;
	}
}

@mixin note-book {
	@media (min-width: map-get($breakpoints, 'xxl')) {
		@content;
	}
}
