/* ----- Colors ----- */
//* brand colors
$primary: #6c5ce7;
$secondary: #a29bfe;

//* utility colors
$danger: #e74c3c;
$success: #008a05;

//* sub colors
$error-bg: #fff8f6;
$line-color: #f1f3f7;
$bg-color: #f8f9fd;

//* gray colors
$gray-22: #222;
$gray-48: #484848;
$gray-71: #717171;
$gray-80: #808080;
$gray-aa: #aaa;
$gray-b0: #b0b0b0;
$gray-c4: #c4c4c4;
$gray-dd: #ddd;
$gray-ed: #ededed;
$white: #fff;

/* ----- Typoraphy ----- */
/*
 * font families
 * 1. Noto Sans: https://fonts.googleapis.com/css?family=Noto+Sans
 * 2. Noto Sans KR: https://fonts.googleapis.com/css?family=Noto+Sans+KR
*/
$noto-sans: Noto Sans KR, sans-serif;

//* font sizes
$fs-sm: 0.875rem; //* 14px
$fs-base: 1rem; //* 16px
$fs-lg: 1.125rem; //* 18px
$fs-xl: 1.25rem; //* 20px
$fs-xxl: 1.375rem; //* 22x
$fs-xxxl: 1.5rem; //* 24px

$fs: (
	sm: 0.875rem,
	base: 1rem,
	lg: 1.125rem,
	xl: 1.25rem,
	xxl: 1.375rem,
	xxxl: 1.5rem
);

//* title font sizes
$h-1: 2.5rem; //* 40px
$h-2: 2.1875rem; //* 35px
$h-3: 1.875rem; //* 30px

//* font h
$fh-base: 1.5;

//* font weights
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

/* ----- Breakpoints ----- */
//* 320px | 375px | 425px | 768px | 1024px | 1440px
$breakpoints: (
	xs: 320px,
	sm: 375px,
	md: 425px,
	lg: 768px,
	xl: 1024px,
	xxl: 1440px
);

/* ----- Spacing ----- */
//* 4px | 8px | 12px | 16px | 24px | 32px | 48px | 72px | 96px
$spacing: (
	none: 0,
	xxxs: 0.25rem,
	xxs: 0.5rem,
	xs: 0.75rem,
	sm: 1rem,
	md: 1.5rem,
	lg: 2rem,
	xl: 3rem,
	xxl: 4.5rem,
	xxxl: 6rem
) !default;

/* ----- Shadows ----- */
$shadows: (
	base: 0 4px 11px rgba(157, 157, 157, 0.21)
);
