// css reset (normalize css)
@import 'node_modules/normalize-scss/sass/normalize/import-now';

* {
  padding: 0;
}

body {
  box-sizing: border-box;
}

h1, 
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}

ul,
ol,
li {
	list-style: none;
}


a {
  text-decoration: none;
}
